name: Wails Build & Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    permissions: write-all
    strategy:
      fail-fast: false
      matrix:
        build: [windows]
        include:
          - build: windows
            os: windows-latest
            goarch: amd64

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        check-latest: true

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Wails
      run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

    - name: Build
      shell: bash
      run: |
        /c/Users/runneradmin/go/bin/wails build -platform windows/amd64

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: |
          build/bin/Stratusphere.exe
        draft: false
        prerelease: false
        generate_release_notes: true
